.jumbotron.add-margin
  %h2
    Easy-to-use time tracker system for your company
  %p
    Your company needs documentation that salaried employees did or did not get overtime each week.
  %p
    %a.btn.btn-primary.btn-large{:href => "https://github.com/cyyeh/overtime-app-rails"} Learn more