%h1 Posts

%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Overtime Request
      %th Date
      %th User
      %th Rationale
      %th Status
  %tbody
    = render @posts